*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 2px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
    margin-bottom: 10px;
    margin-top: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: lightblue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: pink;
    text-decoration: none;
}

.tengah-home {
    text-align: center;
    width: 100%;
}

.gambar-home {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gambar-smile {
    width: 20%;
    margin: 0 auto;
}

.gambar-smile img {
    width: 80%;
    border-radius: 50%;
}

.gambar-smile p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #364f6b;
}

.gambar-smile .smail {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-family: 'arial';
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.gambar-atmajaya {
    width: 70%;
    margin: 0 auto;
}

.gambar-atmajaya img {
    width: 60%;
    border-radius: 0%;
    margin-bottom: 20px;
}

.gambar-atmajaya p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #364f6b;
}

.gambar-atmajaya .atmajaya {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: 'arial';
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.gambar-atmajaya .atmajaya2 {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-family: 'arial';
    font-size: 16px;
    font-weight: normal;
    color: black;
}

#contact {
    background-color: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100px;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}